body {
    background-color: lavender;
}

section {
    background-color:lavenderblush;
    font-size: large;
    margin: 15px;
    border-style: double;
    
}

h3 {
    text-decoration: underline;
}

p {
    font-size: medium;
}

/* Wanted p2 to stan out, but in a small way */
p2 {
    text-decoration: underline;
    font-style: italic;
    font-size: smaller;
}

h5 {
    font-style: italic;
}







